{% load static %}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'private_area:home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>

      {% if request.user.is_owner %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'company:go_to_company' %}">
          <i class="bi bi-grid"></i>
          <span>Company</span>
        </a>
      </li>
      {% endif %}


      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'restaurants:restaurant_list' %}">
          <i class="bi bi-grid"></i>
          <span>Restaurant</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'appointments:list' %}">
          <i class="bi bi-grid"></i>
          <span>Appointments</span>
        </a>
      </li>
    </ul>
  </aside>