{% load static %}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'private_area:home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'company:list' %}">
          <i class="bi bi-grid"></i>
          <span>Company</span>
        </a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'appointments:list' %}">
          <i class="bi bi-grid"></i>
          <span>Appointments</span>
        </a>
      </li>
    </ul>
  </aside>