{% extends 'accounts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Registration {% endblock %}

{% block content %}
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h3 class="card-title text-center pb-0 fs-4" style="font-weight: bold;">Account Successfully Created</h3>
                            <p class="card-title text-center w-100" >Please click on the button below to login</p>
                        </div>
                        <div class="col-12">
                                <a class="btn btn-primary w-100" href="{% url 'accounts:login' %}">Login</a>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}